.home-screen {
  transform-style: preserve-3d;
  perspective: 500px;
}

.animateScreen {
  .blocks {
    width: 10vw;
    height: 10vh;
    animation: animateBlocks 1s ease-in-out 1s forwards;
  }
}

@keyframes animateBlocks {
  0% {
    transform: translateZ(2000px);
    background-image: url("./../../assets/images/background/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 3px solid grey;
  }

  100% {
    transform: translateZ(0px);
    background-image: linear-gradient(
        to right,
        rgb(24, 136, 222),
        rgba(120, 21, 206, 0.9)
      ),
      url("./../../assets/images/background/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 0px;
  }
}


.brand-name {
  font-family: Script MT;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff8a8a;
}

// header {
//   background-image: linear-gradient(
//       to right,
//       rgb(24, 136, 222),
//       rgba(120, 21, 206, 0.9)
//     ),
//     url("./../../assets/images/background/bg.jpg");
//   background-position: center;
//   background-attachment: fixed;
//   background-size: cover;
//   position: absolute;;
//   top:0;
// }

nav.mainNav {
  ul {
    li {
      a {
        font-family: Monotype Corsiva;
      }
    }
  }
}
